@font-face {
  font-family: textBlack;
  src: url("./assets/fonts/Dmitry Rastvortsev - KyivType Sans ");
}
@font-face {
  font-family: redText;
  src: url("./assets/fonts/Dmitry Rastvortsev - KyivType Sans Heavy-.otf");
}
@font-face {
  font-family: titles;
  src: url("./assets/fonts/glimmer of light.otf");
}
:root {
  --colour-red: #db0f00;
  --colour-yellow: #fef928;
  --colour-black: #231718;
  --colour-blue: #1b2189;
  --colour-bgTextArea: #f2f2f2;
  --textBlack: textBlack;
  --titles: titles;
  --redText: redText;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

p {
  font-family: var(--textBlack);
}

header {
  background-color: var(--colour-yellow);
  height: 82px;
  width: 100%;
  display: flex;
  position: relative;
  z-index: 9;
}
header .menuBtn {
  height: 42px;
  width: 42px;
  background-color: var(--colour-yellow);
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 6;
}
header .menuBtn .x-Btn {
  width: 42px;
  height: 42px;
  background-color: var(--colour-blue);
  display: flex;
  flex-direction: column;
  padding: 15px 5px;
  cursor: pointer;
  z-index: 3;
}
header .menuBtn .x-Btn::after {
  content: "";
  width: 32px;
  height: 2px;
  background-color: var(--colour-yellow);
  transition: 0.25s;
}
header .menuBtn .x-Btn::before {
  content: "";
  width: 32px;
  height: 2px;
  background-color: var(--colour-yellow);
  transform: translateY(12px);
  transition: 0.25s;
}
header .menuBtn .x-Btn.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .menuBtn .x-Btn.active::after {
  content: "";
  transform: rotate(-45deg) translateX(1px);
}
header .menuBtn .x-Btn.active::before {
  content: "";
  transform: rotate(45deg) translateX(1.5px);
}
header .nav {
  width: 100%;
  height: 60px;
  position: relative;
  z-index: 2;
  height: 100vh;
  transform: translateY(-100%);
  transition: 0.25s;
}
header .nav.active {
  transform: translateY(0%);
}
header .nav .menu {
  background-color: var(--colour-yellow);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-family: "titles";
}
header .nav .menu li {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
header .nav .menu li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--colour-blue);
  transition: 0.35s;
}
header .nav .menu li a:hover {
  background-color: var(--colour-red);
  color: var(--colour-yellow);
  letter-spacing: 5px;
}
header .nav .menu li a.activated {
  color: var(--colour-yellow);
  background-color: var(--colour-red);
}

.home {
  background-color: var(--colour-yellow);
  width: 100%;
  height: auto;
  padding: 20px 40px;
  font-size: 22px;
  position: relative;
}
.home p {
  position: relative;
  z-index: 2;
}
.home p span {
  font-family: var(--redText);
  color: var(--colour-red);
  line-height: 40px;
}
.home .letsTalk {
  margin-top: 5%;
  transition: 0.25s;
  letter-spacing: 1px;
  position: relative;
  z-index: 5;
}
.home .letsTalk a {
  text-decoration: none;
  background-color: var(--colour-blue);
  padding: 5px 20px;
  font-size: 20px;
  font-family: var(--titles);
  color: var(--colour-yellow);
  position: relative;
  z-index: 5;
  transition: 0.25s;
}
.home .letsTalk a:hover {
  letter-spacing: 3px;
}
.home .gaussianOne {
  width: 150px;
  height: 150px;
  background-color: white;
  position: absolute;
  top: 20px;
  right: 60px;
  filter: blur(60px);
  z-index: 1;
  animation: blurMovement 5s infinite;
}
@keyframes blurMovement {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-350px, 290px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.programmingUxUI {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 60px;
  padding-bottom: 40px;
}
.programmingUxUI .textSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.programmingUxUI .textSection h1 {
  font-family: titles;
  font-size: 28px;
  text-align: center;
  color: var(--colour-blue);
  line-height: 55px;
}
.programmingUxUI .textSection .boxMovement {
  margin: auto;
  width: 80%;
  height: 40px;
  display: flex;
  overflow-x: hidden;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.programmingUxUI .textSection .boxMovement h2 {
  text-transform: uppercase;
  animation: movement 10s infinite;
  font-size: 30px;
  color: var(--colour-red);
  font-family: textBlack;
  animation-timing-function: cubic-bezier(0.54, 0.54, 0.73, 0.73);
}
@keyframes movement {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(-550px);
  }
}
.programmingUxUI .textSection .blackLine {
  margin: auto;
  width: 80%;
  height: 2px;
  background-color: var(--colour-black);
}
.programmingUxUI .cardBox {
  margin: auto;
  width: 320px;
  height: 480px;
}
.programmingUxUI .cardBox .slideCard {
  width: 320px;
  height: 480px;
  background-color: blue;
  margin: auto;
  background-color: white;
  width: 100%;
  padding: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
  border: 1px solid #bdbcbc;
}
.programmingUxUI .cardBox .slideCard .imgIn {
  width: 280px;
  height: 280px;
  background-image: url(./assets/img/Old_Candle.png);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
}
.programmingUxUI .cardBox .slideCard .titleCard {
  font-family: titles;
  font-size: 20px;
}
.programmingUxUI .cardBox .slideCard .descriptionCard {
  font-family: var(--textBlack);
  font-weight: 100;
  text-transform: uppercase;
}
.programmingUxUI .cardBox .slideCard .btnWatch {
  width: 120px;
  height: 50px;
  background-color: var(--colour-blue);
  border: none;
  color: var(--colour-yellow);
  font-family: var(--titles);
  font-size: 20px;
  letter-spacing: 2px;
  transition: 0.25s;
}
.programmingUxUI .cardBox .slideCard .btnWatch:hover {
  letter-spacing: 5px;
  transform: translateY(5px);
  cursor: pointer;
}
.programmingUxUI .seeAll {
  margin-top: 40px;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.programmingUxUI .seeAll p {
  font-size: 20px;
}
.programmingUxUI .seeAll .arrow {
  transform: rotate(180deg);
  padding: 10px 0;
  width: 60px;
  height: 60px;
  transition: 0.25s;
}
.programmingUxUI .seeAll .arrow:hover {
  transform: scale(1.2) rotate(180deg);
  cursor: pointer;
}

.contact {
  background-color: var(--colour-yellow);
  width: 100%;
  height: 338px;
  padding: 20px 40px;
  font-size: 22px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: end;
  text-align: right;
}
.contact h1 {
  font-size: 35px;
  color: var(--colour-blue);
  font-family: var(--titles);
  line-height: 45px;
}
.contact p span {
  font-family: var(--redText);
  color: var(--colour-red);
  line-height: 40px;
}

.formContact {
  width: 100%;
  height: auto;
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.formContact .inputStyle {
  background-color: var(--colour-bgTextArea);
  height: 50px;
  width: 255px;
  padding: 20px;
  border: 1px solid black;
  font-size: 20px;
  font-family: var(--textBlack);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.462);
}
.formContact textarea {
  background-color: var(--colour-bgTextArea);
  width: 255px;
  max-width: 255px;
  min-width: 255px;
  height: 100px;
  min-height: 100px;
  max-height: 100px;
  padding: 20px;
  font-size: 20px;
  font-family: var(--textBlack);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.462);
}
.formContact input[type=submit] {
  background-color: var(--colour-blue);
  color: var(--colour-yellow);
  font-family: var(--titles);
  font-size: 20px;
  letter-spacing: 2px;
  width: 100px;
  height: 50px;
  transition: 0.25s;
}
.formContact input[type=submit]:hover {
  letter-spacing: 5px;
  transform: translateY(5px);
  cursor: pointer;
}

.containerFooter {
  height: 100px;
  width: 100%;
  background-color: var(--colour-blue);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.containerFooter .bx {
  transition: 0.25s;
  font-size: 52px;
  color: var(--colour-yellow);
}
.containerFooter .bx:hover {
  transform: scale(1.1) translateY(-5px);
  cursor: pointer;
  color: var(--colour-red);
}

.containerProgrammingCards {
  padding: 50px 5%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.containerProgrammingCards .cardBoxProgramming {
  margin: auto;
  width: 320px;
  height: 480px;
}
.containerProgrammingCards .cardBoxProgramming .slideCard {
  width: 320px;
  height: 480px;
  background-color: blue;
  margin: auto;
  background-color: white;
  width: 100%;
  padding: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
  border: 1px solid #bdbcbc;
}
.containerProgrammingCards .cardBoxProgramming .slideCard .imgIn {
  width: 280px;
  height: 280px;
  background-image: url(./assets/img/Old_Candle.png);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
}
.containerProgrammingCards .cardBoxProgramming .slideCard .titleCard {
  font-family: titles;
  font-size: 20px;
}
.containerProgrammingCards .cardBoxProgramming .slideCard .descriptionCard {
  font-family: var(--textBlack);
  font-weight: 100;
  text-transform: uppercase;
}
.containerProgrammingCards .cardBoxProgramming .slideCard .btnWatch {
  width: 120px;
  height: 50px;
  background-color: var(--colour-blue);
  border: none;
  color: var(--colour-yellow);
  font-family: var(--titles);
  font-size: 20px;
  letter-spacing: 2px;
  transition: 0.25s;
}
.containerProgrammingCards .cardBoxProgramming .slideCard .btnWatch:hover {
  cursor: pointer;
  letter-spacing: 5px;
  transform: translateY(5px);
}

.containerAnimationCards {
  padding: 50px 5%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.containerAnimationCards .cardBoxAnimation {
  margin: auto;
  width: 320px;
  height: 480px;
}
.containerAnimationCards .cardBoxAnimation .slideCard {
  width: 320px;
  height: 480px;
  margin: auto;
  background-color: white;
  width: 100%;
  padding: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
  border: 1px solid #bdbcbc;
}
.containerAnimationCards .cardBoxAnimation .slideCard .imgIn {
  width: 280px;
  height: 280px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
}
.containerAnimationCards .cardBoxAnimation .slideCard .imgIn img {
  width: 100%;
  border-radius: 5px;
}
.containerAnimationCards .cardBoxAnimation .slideCard .titleCard {
  font-family: titles;
  font-size: 20px;
}
.containerAnimationCards .cardBoxAnimation .slideCard .descriptionCard {
  font-family: var(--textBlack);
  font-weight: 100;
  text-transform: uppercase;
}
.containerAnimationCards .cardBoxAnimation .slideCard .btnWatch {
  width: 120px;
  height: 50px;
  background-color: var(--colour-blue);
  border: none;
  font-size: 20px;
  letter-spacing: 2px;
  transition: 0.25s;
}
.containerAnimationCards .cardBoxAnimation .slideCard .btnWatch:hover {
  cursor: pointer;
  letter-spacing: 5px;
  transform: translateY(5px);
}
.containerAnimationCards .cardBoxAnimation .slideCard .btnWatch a {
  font-family: var(--titles);
  color: var(--colour-yellow);
  text-decoration: none;
}

.containerIllustrationCards {
  padding: 50px 5%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.containerIllustrationCards img {
  border-radius: 5px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.365);
}

.containerModelingCards {
  padding: 50px 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.containerModelingCards .cardBoxModeling {
  margin: auto;
  width: 320px;
  height: 480px;
}
.containerModelingCards .cardBoxModeling .slideCard {
  width: 320px;
  height: 480px;
  background-color: blue;
  margin: auto;
  background-color: white;
  width: 100%;
  padding: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
  border: 1px solid #bdbcbc;
}
.containerModelingCards .cardBoxModeling .slideCard .imgIn {
  width: 280px;
  height: 280px;
  background-image: url(./assets/img/m1.png);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
}
.containerModelingCards .cardBoxModeling .slideCard .titleCard {
  font-family: titles;
  font-size: 20px;
}
.containerModelingCards .cardBoxModeling .slideCard .descriptionCard {
  font-family: var(--textBlack);
  font-weight: 100;
  text-transform: uppercase;
}
.containerModelingCards .cardBoxModeling .slideCard .btnWatch {
  width: 120px;
  height: 50px;
  background-color: var(--colour-blue);
  border: none;
  font-size: 20px;
  letter-spacing: 2px;
  transition: 0.25s;
}
.containerModelingCards .cardBoxModeling .slideCard .btnWatch:hover {
  cursor: pointer;
  letter-spacing: 5px;
  transform: translateY(5px);
}
.containerModelingCards .cardBoxModeling .slideCard .btnWatch a {
  font-family: var(--titles);
  color: var(--colour-yellow);
  text-decoration: none;
}
.containerModelingCards img {
  border-radius: 5px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.365);
}

@media screen and (min-width: 365px) {
  .home {
    padding: 20% 15%;
  }
  .home p {
    font-size: 25px;
    margin: auto;
    line-height: 50px;
  }
}
@media screen and (min-width: 576px) {
  .home {
    padding: 20% 20%;
  }
  .home p {
    font-size: 30px;
    line-height: 60px;
    margin: auto;
  }
  .home .gaussianOne {
    width: 200px;
    height: 200px;
    animation: blurMovement 6s infinite;
  }
  @keyframes blurMovement {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-550px, 260px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  .programmingUxUI .textSection .boxMovement {
    width: 60%;
  }
  .programmingUxUI .textSection .blackLine {
    width: 60%;
  }
  .programmingUxUI .cardBox {
    margin: auto;
    width: 320px;
    height: 480px;
  }
  .programmingUxUI .cardBox .slideCard {
    width: 320px;
    height: 480px;
    background-color: blue;
    margin: auto;
    background-color: white;
    width: 100%;
    padding: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
    border: 1px solid #bdbcbc;
  }
  .programmingUxUI .cardBox .slideCard .imgIn {
    width: 280px;
    height: 280px;
    background-image: url(./assets/img/Old_Candle.png);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
  }
  .programmingUxUI .cardBox .slideCard .titleCard {
    font-family: titles;
    font-size: 20px;
  }
  .programmingUxUI .cardBox .slideCard .descriptionCard {
    font-family: var(--textBlack);
    font-weight: 100;
    text-transform: uppercase;
  }
  .programmingUxUI .cardBox .slideCard .btnWatch {
    width: 120px;
    height: 50px;
    background-color: var(--colour-blue);
    border: none;
    color: var(--colour-yellow);
    font-family: var(--titles);
    font-size: 20px;
    letter-spacing: 2px;
    transition: 0.25s;
  }
  .programmingUxUI .cardBox .slideCard .btnWatch:hover {
    letter-spacing: 5px;
    transform: translateY(5px);
    cursor: pointer;
  }
  .programmingUxUI .seeAll {
    margin-top: 40px;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  .programmingUxUI .seeAll p {
    font-size: 20px;
  }
  .programmingUxUI .seeAll .arrow {
    transform: rotate(180deg);
    padding: 10px 0;
    width: 60px;
    height: 60px;
    transition: 0.25s;
  }
  .programmingUxUI .seeAll .arrow:hover {
    transform: scale(1.2) rotate(180deg);
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) {
  .home {
    padding: 20% 20%;
  }
  .home p {
    font-size: 35px;
    line-height: 70px;
    margin: auto;
  }
  .home .gaussianOne {
    width: 250px;
    height: 250px;
    filter: blur(80px);
    animation: blurMovement 6s infinite;
  }
  @keyframes blurMovement {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-570px, 300px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}
@media screen and (min-width: 992px) {
  header .menuBtn {
    display: none;
  }
  header .nav {
    height: 100px;
    transform: translateY(0%);
  }
  header .nav .menu {
    height: 100px;
    flex-direction: row;
  }
  header .nav .menu li {
    width: 20%;
  }
  header .nav .menu li a {
    padding: 50px;
  }
  header .nav .menu li a:hover {
    letter-spacing: 0px;
  }
  .home {
    padding: 10% 20%;
  }
  .home p {
    font-size: 45px;
    margin: auto;
    line-height: 90px;
  }
  .home .gaussianOne {
    width: 270px;
    height: 270px;
    filter: blur(80px);
    animation: blurMovement 6s infinite;
  }
  @keyframes blurMovement {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-650px, 490px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  .programmingUxUI {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 85%;
    margin: auto;
    position: relative;
    padding-bottom: 60px;
  }
  .programmingUxUI .textSection {
    margin-top: -150px;
    width: 450px;
    height: auto;
    position: relative;
  }
  .programmingUxUI .textSection h1 {
    font-size: 50px;
    line-height: 100px;
  }
  .programmingUxUI .textSection .boxMovement {
    width: 100%;
    height: auto;
  }
  .programmingUxUI .textSection .boxMovement h2 {
    font-size: 50px;
  }
  .programmingUxUI .textSection .blackLine {
    display: none;
  }
  .seeAll {
    position: absolute;
    top: 400px;
    left: 35%;
  }
  .contactSection {
    background-color: var(--colour-yellow);
    display: flex;
    width: 100%;
    padding: 0 15%;
    margin: auto;
  }
  .contactSection .contact {
    height: auto;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 90px;
  }
  .contactSection .contact h1 {
    font-size: 40px;
    line-height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .home {
    padding: 10% 20%;
  }
  .home p {
    font-size: 52px;
    margin: auto;
    line-height: 104px;
  }
  .home .gaussianOne {
    width: 400px;
    height: 400px;
    filter: blur(150px);
    animation: blurMovement 8s infinite;
  }
  @keyframes blurMovement {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-1250px, 400px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}/*# sourceMappingURL=App.css.map */